
*.xml

*.lock

\.gradle/4\.9/fileChanges/last-build\.bin

\.gradle/4\.9/fileHashes/fileHashes\.bin

\.gradle/4\.9/taskHistory/taskHistory\.bin

\.gradle/buildOutputCleanup/cache\.properties

\.gradle/buildOutputCleanup/outputFiles\.bin

\.gradle/vcsWorkingDirs/gc\.properties

test_sparql_query\.txt
